//  #1c439b

.headerNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2e51a2;
	color: #fff;
	padding: 1%;

	.leftHeader {
		margin-left: 3%;
		width: 350px;

		img {
			width: 100%;
		}
	}
	.rightNav {
		margin: 0% 3% 0% 0%;
		display: flex;
		gap: 20px;
		font-size: 1.4rem;
		li {
			list-style-type: none;
			a {
				text-decoration: none;
				color: #fff;
			}
		}
	}
}
