.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e51a2;
  color: #fff;
  padding: 1%;
}
.headerNav .leftHeader {
  margin-left: 3%;
  width: 350px;
}
.headerNav .leftHeader img {
  width: 100%;
}
.headerNav .rightNav {
  margin: 0% 3% 0% 0%;
  display: flex;
  gap: 20px;
  font-size: 1.4rem;
}
.headerNav .rightNav li {
  list-style-type: none;
}
.headerNav .rightNav li a {
  text-decoration: none;
  color: #fff;
}

.body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}
.body .p-4 {
  min-width: 340px;
}
.body .p-4 p {
  margin: auto auto;
}
.body .p-4 .gap-2 {
  text-align: center;
}
.body .p-4 .gap-2 button {
  width: 100%;
}
.body .p-4 h2 {
  text-align: center;
}
.body .p-4 .signUpButton {
  text-align: center;
}
.body .p-4 .signUpButton button {
  width: 100%;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  width: 20%;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}

.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  padding: 0.8%;
  border: none;
  color: #fff;
  background-color: #2e51a2;
}
button:hover {
  color: #aaa;
  background-color: #313131;
  transform: scale(1.05);
}

.content {
  display: flex;
}
.content aside {
  margin: 3% 1% 0% 1%;
  width: 60vw;
  max-width: 450px;
}
.content aside nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 33.333%;
}
.content aside nav h2 {
  color: #313131;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}
.content aside nav a {
  display: block;
  padding: 8px 16px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #2e51a2;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.4s;
}
.content aside nav a:hover {
  background-color: #313131;
  color: #aaa;
}
.content main .searchContainer {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  z-index: 500;
  margin-top: 2%;
}
.content main .searchContainer form {
  display: flex;
  justify-content: center;
}
.content main .searchContainer input {
  text-align: center;
  width: 25vw;
  border: 1px solid #313131;
  padding: 0.7rem;
}
.content main .searchContainer input:focus {
  outline: none !important;
  border: 3px solid #2e51a2;
}
.content main h3 {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2%;
}
.content main .animeList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content main .animeList .animeCard {
  flex: 1 1 33.333%;
  max-width: 25%;
  min-width: 300px;
  padding: 16px 8px;
  margin: 0 2%;
}
.content main .animeList .animeCard a {
  text-decoration: none;
  color: #313131;
}
.content main .animeList .animeCard figure {
  display: block;
  margin-bottom: 16px;
}
.content main .animeList .animeCard figure img {
  display: block;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);
  transition: 0.3s;
}
.content main .animeList .animeCard .info {
  max-width: 350px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  height: 20vh;
  overflow-y: auto;
}
.content main .animeList .animeCard h3 {
  color: #313131;
}
.content main .animeList .animeCard:hover figure img {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}
.content main .animeList .animeCard button {
  margin: 10% 37% 0% 37%;
}

.popUp {
  display: block;
}
.popUp .popUpInner {
  background-color: #a2d2ff;
  line-height: 1.2rem;
  min-width: 350pxx;
  height: 30%;
  padding: 30px 40px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  z-index: 10;
  overflow: auto;
  box-shadow: 0px 25px 43px 0px rgba(0, 0, 0, 0.32);
  max-width: 100%;
}
.popUp h2 {
  text-align: center;
  font-size: 2rem;
  margin: 2%;
}
.popUp p {
  text-align: center;
}
.popUp button {
  display: block;
  margin: 2% auto;
}

@media (max-width: 480px) {
  .content {
    display: block;
  }
  .content aside {
    width: 100%;
  }
  .content aside nav a {
    margin: 0 3% 2px 3%;
  }
  .content main .searchContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  .content main .searchContainer input {
    width: 90vw;
  }
  .content main .animeList .animeCard {
    margin-bottom: 6%;
  }
  .content main .animeList .animeCard button {
    width: 24vw;
  }
  .popUp .popUpInner {
    height: auto;
  }
}
@media (max-width: 768px) {
  .content {
    display: block;
  }
  .content aside {
    min-width: 100%;
  }
  .content aside nav a {
    margin: 0 2%;
  }
  .content main .searchContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  .content main .searchContainer input {
    width: 90vw;
  }
  .content main .animeList .animeCard {
    margin-bottom: 6%;
  }
  .content main .animeList .animeCard button {
    width: 24vw;
  }
  .popUp .popUpInner {
    height: auto;
  }
}
@media (max-width: 1024px) {
  .content {
    display: block;
  }
  .content h2 {
    text-align: center;
  }
  .content aside {
    min-width: 100%;
  }
  .content aside nav a {
    margin: 0 2%;
  }
  .content main .searchContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  .content main .searchContainer input {
    width: 90vw;
  }
  .content main .animeList .animeCard {
    margin-bottom: 6%;
  }
  .popUp .popUpInner {
    height: auto;
  }
}
@media (max-width: 1150px) {
  .content {
    display: block;
  }
  .content h2 {
    text-align: center;
  }
  .content aside {
    min-width: 100%;
  }
  .content aside nav a {
    margin: 0 3%;
  }
  .content main .searchContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  .content main .searchContainer input {
    width: 90vw;
  }
  .content main .animeList .animeCard {
    margin-bottom: 6%;
  }
  .popUp .popUpInner {
    height: auto;
  }
}/*# sourceMappingURL=styles.css.map */